# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
matplotlib=3.2.2=pypi_0
numpy=1.18.5=py38h6530119_0
opencv-python=4.2.0.34=pypi_0
pip=20.1.1=pypi_0
python=3.8.3=he1778fa_0
pytorch=1.5.1=py3.8_cuda102_cudnn7_0
torchvision=0.6.1=py38_cu102
